<h1>Todos os Filmes</h1>

<table>
  <thead>
    <tr>
      <th id="title_header" class="<%= 'hilite' if params[:sort] == 'title' %>">
        <%= link_to "Título do Filme", movies_path(sort: 'title'), id: 'title_header' %>
      </th>
      <th>Classificação indicativa</th>
      <th id="release_date_header" class="<%= 'hilite' if params[:sort] == 'release_date' %>">
        <%= link_to "Data de Lançamento", movies_path(sort: 'release_date'), id: 'release_date_header' %>
      </th>
      <th>Informações</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%Y-%m-%d') if movie.release_date %></td>
        <td><%= link_to "Mais sobre #{movie.title}", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Adicionar um novo filme', new_movie_path %>