<h1>Cadastrar novo filme</h1>

<%= form_with model: @movie do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :rating %>
    <%= f.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'], { prompt: 'Select rating' } %>
  </div>
  
  <div>
    <%= f.label :release_date %>
    <%= f.date_field :release_date %>
  </div>
  
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5 %>
  </div>
  
  <%= f.submit 'Salvar' %>
<% end %>

<%= link_to 'Voltar para lista de filmes', movies_path %>