<h2>Detalhes sobre <%= @movie.title %></h2>

<ul>
  <li>Classificação indicativa: <%= @movie.rating %></li>
  <li>Lançamento: <%= @movie.release_date.strftime('%B %d, %Y') if @movie.release_date %></li>
</ul>

<p><%= @movie.description %></p>

<%= link_to 'Editar', edit_movie_path(@movie) %>
<%= link_to 'Excluir', movie_path(@movie), data: { turbo_method: :delete,  turbo_confirm: 'Are you sure?' } %>
<%= link_to 'Voltar para lista de filmes', movies_path %>